# audioserver
allow audioserver mediaserver_service:service_manager find;
allow audioserver tvserver:binder call;
allow audioserver media_device:chr_file rw_file_perms;
# Trying to allow lib_Samsung_Resampler.so
allow audioserver persist_file:dir search;
allow audioserver persist_audio_file:dir search;
allow audioserver persist_audio_file:file r_file_perms;
